name: Lint using ESLint + reviewdog
on:
  workflow_call:
    inputs:
      node-version-file:
        required: false
        type: string
        default: 'package.json'
      workdir:
        required: true
        type: string
    secrets:
      token:
        description: "Github token"
        required: true
      repo:
        description: "Github repository"
        required: true

jobs:
  lint-using-eslint:
    runs-on: ubuntu-24.04
    timeout-minutes: 2
    # permissions:
    #   contents: read
    #   pull-requests: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ${{ inputs.node-version-file }}
          cache: 'pnpm'
      - run: pnpm i --frozen-lockfile
      - uses: reviewdog/action-setup@d8a7baabd7f3e8544ee4dbde3ee41d0011c3a93f # v1.5.0
        with:
          # ref: https://github.com/reviewdog/reviewdog/releases
          reviewdog_version: v0.21.0
      - name: Run reviewdog with eslint
        uses: reviewdog/action-eslint@556a3fdaf8b4201d4d74d406013386aa4f7dab96 # v1.34.0
        with:
          github_token: ${{ secrets.token }}
          filter_mode: diff_context
          fail_level: error
          workdir: ${{ inputs.workdir }}
