name: Sync labels

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      prune:
        required: false
        type: boolean
        default: false
      target:
        required: false
        type: string
        default: '.github/labels.yml'
    secrets:
      token:
        description: "Github token"
        required: true
  push:
    branches:
      - main
  #   paths:
  #     - .github/workflows/sync-labels.yml

jobs:
  sync-labels:
    runs-on: ubuntu-24.04
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: micnncim/action-label-syncer@v1
        env:
          GITHUB_TOKEN: ${{ secrets.token }}
        with:
          manifest: ${{ inputs.target }}
          prune: ${{ inputs.prune }}
